# ============================================================
# COMMON CONFIGURATION
# ============================================================

ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_HTTP_PORTS=8080
MessageQueue__Provider=RabbitMQ


# ============================================================
# HTTP / LOCAL PROFILE
# ============================================================

Http__ConnectionStrings__DefaultConnection=

Http__MessageQueue__RabbitMQ__ConnectionString=


# ============================================================
# DOCKER PROFILE
# ============================================================

Docker__ConnectionStrings__DefaultConnection=Server=

Docker__MessageQueue__RabbitMQ__ConnectionString=